#!/bin/bash

NAME="demo-app"
USER="vagrant"
BIND="127.0.0.1:8000"
NUM_WORKERS=4

exec {{ venv_path }}/bin/gunicorn manage:app \
  --name $NAME \
  --workers $NUM_WORKERS \
  --user=$USER \
  --bind=$BIND
